@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(./assats/sunny-day-when-sharks-attack.gif);
    background-size: 100% 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;

}

/* ========= Navbar styeling start ================ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

}

.logo {
    padding: 10px;
    display: inline-block;
}


.logo p {
    padding: 2px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fdfdfd;
    border-top: 3px solid #fdfdfd;
    border-bottom: 3px solid #fdfdfd;

}

.nav-right input {
    border: none;
    outline: none;
    padding: 7px 2px;
    font-size: 17px;
    border-radius: 0px 8px 0 8px;
}

button {
    padding: 10px 10px;
    background: #1e8bff;
    color: white;
    border-radius: 0px 8px 0 8px;
    border: none;
    letter-spacing: 1px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
    color: #1e8bff;
}

.logo span {
    color: #e82626;
}

/* ========= Navbar styeling End ================ */
.main {
    padding: 0px 20px;

}

.today {
    background-color: #96919144;
    margin-top: 20px;
    width: 25%;
    padding: 10px;
    color: #fdfdfd;
    border-radius: 0px 8px 0 8px;


}

.current-dateTime {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}


#day {
    font-size: 25px;
    font-weight: 600;

}

#time {
    font-size: 3rem;
    font-weight: 300;
}

#time span {
    font-size: 20px;
}

.temparature-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    border-bottom: 2px solid gray;

}

.temparature-div>div {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.temparature-div i {
    font-size: 30px;
}

.temparature {
    font-size: 50px;

}

#weather {
    font-size: 30px;
    font-weight: 700;
}

#place {
    font-size: 22px;
    padding-top: 10px;
}

.location-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-div i {
    font-size: 27px;
}

.weekly-forcust {
    width: 25%;
    background: #7775753b;
    margin-top: 20px;
    color: #ffffff;
    border-radius: 10px 0 10px 0;
    height: 270px;
    overflow-y: auto;


}

.weekly-forcust div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 2px solid gray;

    transition: all ease-in-out .3s;
}

.weekly-forcust div:hover {
    background-color: #242222b9;
    border-radius: 10px;

}



.weekly-forcust div i {
    font-size: 20px;
}

.today-div {
    position: relative;
}

.today-forcust {
    width: 70%;
    height: 270px;
    background-color: #6d6c6c70;
    position: absolute;
    right: 0;
    bottom: 0px;
    border-radius: 30px 0 30px 0;
}

.center-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    overflow-x: scroll;
}

.weather-time {
    color: white;
    padding: 15px 20px;
    /* background-color: #c2b8b880; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;

}

.weather-time i {
    font-size: 40px;

}

.rain-persentage {
    margin: 15px 0px;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    padding: 6px 0px;
}

.summary {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #646464d5;

}

::-webkit-scrollbar-thumb {
    background-color: #292525;
    border-radius: 20px;
}

@media (max-width:660px) {
    body {
        background: #000;
        width: 100%;

    }

    nav {
        width: 100%;
    }
}