@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(./assats/sunny-day-when-sharks-attack.gif);
    background-size: 100% 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;

}

/* ========= Navbar styeling start ================ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

.logo {
    padding: 10px;
    display: inline-block;
}


.logo p {
    padding: 2px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 600;
    color: #fdfdfd;
    border-top: 3px solid #fdfdfd;
    border-bottom: 3px solid #fdfdfd;

}

.nav-right input {
    border: none;
    outline: none;
    padding: 7px 2px;
    font-size: 17px;
    border-radius: 0px 8px 0 8px;
}

button {
    padding: 10px 10px;
    background: #1e8bff;
    color: white;
    border-radius: 0px 8px 0 8px;
    border: none;
    letter-spacing: 1px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

button:hover {
    background: #ffffff;
    color: #1e8bff;
}

.logo span {
    color: #e82626;
}

/* ========= Navbar styeling End ================ */

.today {
    background-color: #fff;
    margin-top: 20px;
    position: relative;
    width: 25%;

}


#day {
    font-size: 25px;
    font-weight: 600;

}

#time {
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;



}

#time span {
    font-size: 20px;
}

.temparature-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
}

.temparature-div i {
    font-size: 30px;
}

.temparature {
    font-size: 50px;

}

#weather {
    font-size: 30px;
    font-weight: 700;
}

#place {
    font-size: 22px;
}