@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mooli', sans-serif;
}

body {
  background: #686464;
  color: wheat;

}

.flex {
  display: flex;
  align-items: center;
}

.contenar {
  max-width: 1180px;
  margin: auto;


}

.nav-header {
  justify-content: space-between;
  padding: 10px 30px;
  width: 100%;
  box-shadow: 0 0 10px #d3c8c8;
}



.top-div {
  height: 170px;
  width: 250px;
  background: lightcoral;
  border-radius: 10px;
  margin-bottom: 20px;
}

.forcust {
  width: 250px;
  height: 400px;
  background: lightblue;
  border-radius: 10px;

}

.right-side {
  width: 70%;
  background: lightgreen;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
}