* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #14768f;
  text-align: center;
}
body .wrapper {
  width: 40%;
  background: #fff;
  border-radius: 25px;
}
body .wrapper p {
  margin: 20px 0;
  font-size: 20px;
}
#inputNumber {
  width: 30%;
  height: 40px;
  text-align: center;
  margin-right: 30px;
}
button {
  width: 30%;
  height: 40px;
  background-color: #265baa;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.chance {
  margin: 10px 0px;
  font-size: 18px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
