@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  position: relative;
  background: hwb(96 13% 56% / 0.863);
  height: 100vh;
  width: 100%;
  overflow: hidden;

}

.left-side {
  height: 100vh;
  width: 20%;
  background: #04799f;
  display: flex;
  flex-direction: column;
  padding-left: 3vh;
  transform: translate(-100%);
  transition: transform 0.3s linear 0s;

}

.show-slider2 {
  transform: translate(0%) !important;
}

.left-side .logo {
  font-size: 35px;
}

.left-side .logo h1 {
  color: #000;
  padding-bottom: 5vh;
}

.link {

  display: flex;
  flex-direction: column;
  row-gap: 2vh;

}


.social i {

  margin-right: 3vh;
  padding: 4vh 0;
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
  transition: ease all 0.2s;



}

.social i:hover {
  transform: scale(1.2);
}

.link a {

  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 2px;
  transition: ease all 0.2s;
}

.link a:hover {
  transform: scale(1.1);

}

.right-side {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4vh;

}

.right-side i {
  font-size: 25px;
  color: wheat;
  cursor: pointer;
  transition: ease all 0.3s;

}

.right-side i:hover {
  transform: scale(1.2);
}

main {
  position: absolute;
  top: 15%;
  left: 30%;
}

main h1 {

  color: #f0f0f0;
  font-weight: 900;
}

.web,
.dev {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 90px;
}

.dev {
  margin-left: 10vh;
}

.cursor i {
  height: 40px;
  width: 40px;
  mix-blend-mode: difference;
  border-radius: 50%;
  background: white;
  position: absolute;
  transition: all ease 0.2s;
  color: #ffffff;
  background: #000000;
}

.fa-face-smile {
  line-height: 40px;
  font-size: 40px;
}