@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--backGroundColor);
    color: white;
}

:root {
    --mainColor: #5d992d;
    --backGroundColor: #1b1a1a;
    --navbackgroundColor: #3b3a3a;
    --textColor: #ffffff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--navbackgroundColor);
    position: fixed;
    top: 0;
    width: 100%;

}

ul {
    display: flex;
    align-items: center;

}

li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.18rem;
    margin-inline: 18px;
    transition: all ease-in-out 0.3s;
    padding: 6px;


}

ul li a:hover {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}

.active {
    background-color: var(--mainColor);
    padding: 6px;
}

#bar {
    display: none;
}


.logo h1 {
    display: block;
    margin: 8px 5px;
    border: 2px solid var(--textColor);


}

.logo h1 span {

    display: inline-block;
    padding: 4px 8px;
    background-color: var(--textColor);
    font-size: 1.18rem;
}

.logo h1 .web {
    background-color: var(--mainColor);
}

.logo h1 .devloper {
    background-color: var(--navbackgroundColor);
}


.main {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
}


.img {
    height: 500px;
}

.main-text h3 {
    font-size: 1.87rem;
}

.main-text h1 {
    font-size: 4.3rem;

}

.main-text h1 span {
    color: var(--mainColor);
}

.main-text p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.cvBtn {
    margin-top: 30px;
    padding: 10px 12px;
    color: var(--textColor);
    background-color: var(--mainColor);
    border: none;
    border-radius: 10px 0 10px 0;
    transition: all ease-in-out 0.3s;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: none;


}

.cvBtn:hover {
    color: var(--mainColor);
    background-color: var(--backGroundColor);
    cursor: pointer;
}

.head {
    text-align: center;
}

.head h1 {
    font-size: 2.5rem;
    padding: 22px;
}

.head h1 span {
    color: var(--mainColor);
}

.aboutUs {
    padding: 30px;
    background-color: var(--navbackgroundColor);

}

.about {
    /* background-color: #2b2929d0; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    padding: 40px 0;

}

.about img {
    height: 300px;
    border-radius: 50%;
    border: 4px solid var(--mainColor);
}

.aboutText p {
    margin-top: 18px;
    letter-spacing: .3px;
}

.aboutText h2 span {
    color: var(--mainColor);
}

.aboutText p span {
    color: var(--mainColor);
}

.services {
    padding: 30px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;


}

.card {
    width: 25%;
    padding: 22px;
    background-color: var(--navbackgroundColor);
    margin-inline: 20px;
    border-radius: 10px 0px 10px 0;
}

.card h1 {
    font-size: 1.6rem;
    margin: 10px 0;
}

.card i {
    font-size: 1.25rem;
}

.card p {
    line-height: 1.25rem;
}

.works {
    padding-top: 30px;
    background-color: var(--navbackgroundColor);
    padding-bottom: 100px;

}

.myWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;



}

.workCard {
    width: 300px;
    padding-bottom: 20px;
    margin-inline: 30px;
    background-color: var(--navbackgroundColor);
}

.workCard img {
    width: 100%;
    height: 200px;
}

.btn {
    padding: 7px;
    border-radius: 10px 0 10px 0;
    background-color: var(--mainColor);
    color: var(--navbackgroundColor);
    border: none;
    cursor: pointer;
    transition: all ease-in-out .4s;
}


.btn:hover {
    color: var(--mainColor);
    background-color: var(--textColor);

}

.btn a {
    text-decoration: none;
}

.workCard p {
    margin: 10px 0;
}

.connect {
    padding: 30px;
}

.contact {
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: var(--navbackgroundColor);
}

.contact input,
#massage {
    width: 90%;
    padding: 5px;
    font-size: 17px;
    outline: none;
    border: 1px solid var(--mainColor);
    background-color: transparent;
    color: var(--textColor);
    margin-top: 8px;
}

.validation {
    font-size: 12px;
    color: #47a0c4;
    display: none;
}

.contact button {
    margin-top: 10px;
}

.contact p {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #2b2929d0;
    padding: 30px;
}

.text h3 {
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 5px;
    /* border-bottom: 2px solid #147aff; */
}

.text h3::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 50%;
    height: 4px;
    background: var(--mainColor);
}






@media screen and (max-width:1000px) {
    .main {
        display: block;
        text-align: center;
        padding-top: 60px;

    }

    .service {
        width: 100%;
    }

    .card {
        width: 30%;
        margin-inline: 10px;
    }

    .workCard {
        width: 25%;
        padding-bottom: 20px;
        margin-inline: 10px;

    }

    .workCard img {
        height: 150px;
    }

    .navbar li a {
        margin-inline: 10px;
        font-size: 16px;
    }

    .navbar {
        justify-content: space-between;
        padding: 5px;
    }

}


@media screen and (max-width:800px) {
    .myWork {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .workCard {
        width: 50%;

    }

    ul {
        display: none;
    }

    .showData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 23px;
        background-color: #afafafab;
        position: fixed;
        top: 75px;
        right: 3%;
        border-radius: 7px;
        row-gap: 15px;
    }

    #bar {
        display: block;
        font-size: 23px;
        margin-right: 10px;
        cursor: pointer;
    }
}

@media screen and (max-width:500px) {
    .main {
        flex-direction: column;
        width: 100%;

    }

    .about,
    .service,
    .myWork {
        flex-direction: column;

    }

    .card,
    .workCard {
        width: 90%;
        margin-bottom: 10px;
    }

    .workCard img {
        height: 200px;
    }

    .footer {
        flex-direction: column;
    }




}